footer
	.footer
		.footer-main
			span.footer-main_title Unicorn
			p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
		.footer-main
			ul
				li.footer-nav
					span.footer-nav_title Links
					ul
						li.footer-nav_item
							a(href = "javascript:void(0);") Home
						li.footer-nav_item
							a(href = "javascript:void(0);") About
						li.footer-nav_item
							a(href = "javascript:void(0);") Services
						li.footer-nav_item
							a(href = "javascript:void(0);") Menu
						li.footer-nav_item
							a(href = "javascript:void(0);") Restaurants
						li.footer-nav_item
							a(href = "javascript:void(0);") Work Hours
						li.footer-nav_item
							a(href = "javascript:void(0);") Call Hours
				li.footer-nav
					span.footer-nav_title Friends
					ul
						li.footer-nav_item
							a(href = "javascript:void(0);") Home
						li.footer-nav_item
							a(href = "javascript:void(0);") About
						li.footer-nav_item
							a(href = "javascript:void(0);") Services
						li.footer-nav_item
							a(href = "javascript:void(0);") Menu
						li.footer-nav_item
							a(href = "javascript:void(0);") Restaurants
				li.footer-nav
					span.footer-nav_title Social
					ul
						li.footer-nav_item
							a(href = "javascript:void(0);") Facebook
						li.footer-nav_item
							a(href = "javascript:void(0);") Twitter
						li.footer-nav_item
							a(href = "javascript:void(0);") Github
						li.footer-nav_item
							a(href = "javascript:void(0);") Pinterest
						li.footer-nav_item
							a(href = "javascript:void(0);") GooglePlus
						li.footer-nav_item
							a(href = "javascript:void(0);") Flickr
						li.footer-nav_item
							a(href = "javascript:void(0);") Others
	.footer-bottom
		.footer-bottom_content
			span One morning, when Gregor Samsa woke from troubled dreams, he found  
			span © 2015 Your Awesome Company
		.footer-bottom-nav
			ul
				li.footer-bottom-nav_item
					a(href = "javascript:void(0);") Terms
				li.footer-bottom-nav_item
					a(href = "javascript:void(0);") Privacy Policy
				li.footer-bottom-nav_item
					a(href = "javascript:void(0);") Contact
				li.footer-bottom-nav_item
					a(href = "javascript:void(0);") Job

