section.header-wrapper
	header.header-main
		nav.header-top
			span.main-logo unicorn
			ul.main-nav
				li
					a(href = "javascript:void(0);") home
				li
					a(href = "javascript:void(0);") about
				li
					a(href = "javascript:void(0);") stories
				li
					a(href = "javascript:void(0);") hello
				li
					a(href = "javascript:void(0);")
		section.header-content
			span.header-title storyteller
			span.header-title_underline
			p One morning, when Gregor Samsa woke from troubled dreams, he found<br/> himself transformed in his bed into a horrible vermin. He lay on his <br/>armour-like back, and if he lifted his head a little he could see his brown<br/>belly, slightly domed and divided by arches into stiff sections.
			a(href = "javascript:void(0);") read the rest