section.header-wrapper
	header.header-main
		nav.header-top
			span.main-logo unicorn
			ul.main-nav
				li.main-nav_item
					a(href = "javascript:void(0);") home
				li.main-nav_item
					a(href = "javascript:void(0);") about
				li.main-nav_item
					a(href = "javascript:void(0);") stories
				li.main-nav_item
					a(href = "javascript:void(0);") hello
				li.header-nav_toggle
					.nav-toggle_line.nav-toggle_line--top
					.nav-toggle_line.nav-toggle_line--middle
					.nav-toggle_line.nav-toggle_line--bottom

		section.header-content
			span.header-title storyteller
			span.header-title_underline
			p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
			a(href = "javascript:void(0);") read the rest