extends ../layout/main

block title
	| Главная страница

block content
	section.section-wrap
		span.broccoli.center
		h3.section-title.mb80 Who & Why
		p.about-content.center.mb120 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the evening. But Gregor found it easy to give up having the door open, he had, after all, often failed to make use of it when it was open and, without the family having noticed it, lain in his room in its darkest corner. One time, though, the charwoman left the door.
	section.section-wrap_grey
		section.section-wrap
				.feature
					span.feature-clock
					span.feature-header An Wow Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
				.feature
					span.feature-vector
					span.feature-header A Beautiful Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
				.feature
					span.feature-tructor
					span.feature-header An Amazing Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
	section.section-wrap.pt115.pb140
		h3.section-title.mb50 Featured articles
		p.section-article.mb110 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		section.featured-slider.mt110
			.featured-slider_prev
			.featured-slider_next
			ul.bxslider
				li.featured
					.featured_active
					span.featured-title comic
					p.featured-content A million ways to die in the wild wild wild west
					.featured-author
						img(src="static/img/content/author1.png")
						span.featured-author_name jimmy jefferson
						span.featured-author_date 21/08/2013
				li.featured
					.featured_active
					span.featured-title lifestyle
					p.featured-content The most comfortable chair comes with no backpain
					.featured-author
						img(src="static/img/content/author2.png")
						span.featured-author_name Gail Gutierrez
						span.featured-author_date 21/08/2013
				li.featured
					.featured_active
					span.featured-title travel
					p.featured-content Journey to the center of the earth with jefferson
					.featured-author
						img(src="static/img/content/author3.png")
						span.featured-author_name mason johnston
						span.featured-author_date 21/08/2013
				li.featured
					.featured_active
					span.featured-title comic
					p.featured-content A million ways to die in the wild wild wild west
					.featured-author
						img(src="static/img/content/author1.png")
						span.featured-author_name jimmy jefferson
						span.featured-author_date 21/08/2013
	section.section-wrap_grey.pb115
		section.section-wrap.pt70
			h3.section-title.mb70 Clients
			.clients-slider
				.clients-slider_prev
				.clients-slider_next
				ul.clients-bxslider
					li
						img(src="static/img/content/client1.png")
					li
						img(src="static/img/content/client2.png")
					li
						img(src="static/img/content/client3.png")
					li
						img(src="static/img/content/client4.png")
					li
						img(src="static/img/content/client5.png")
					li
						img(src="static/img/content/client6.png")
					li
						img(src="static/img/content/client1.png")
					li
						img(src="static/img/content/client2.png")
					li
						img(src="static/img/content/client3.png")
					li
						img(src="static/img/content/client4.png")
					li
						img(src="static/img/content/client5.png")
					li
						img(src="static/img/content/client6.png")
	section.section-wrap.pt115.pb120
		h3.section-title.mb50 Portfolio & Screenshots
		p.section-article The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		.section-divider
	section.portfolio.pb30
		nav.portfolio-menu.mb50
			ul
				li.portfolio-menu_item
					a(data-filter="art")(href = "javascript:void(0);") Art
				li.portfolio-menu_item
					a(data-filter="mystery")(href = "javascript:void(0);") Mystery
				li.portfolio-menu_item
					a(data-filter="illusion")(href = "javascript:void(0);") Illusion
				li.portfolio-menu_item
					a(data-filter="travel")(href = "javascript:void(0);") Travel
				li.portfolio-menu_item
					a(data-filter="paintings")(href = "javascript:void(0);") Paintings
		.portfolio-slider.porfolio-mixitup
			ul.porfolio-bxslider
					li.mix.art
						img(src="static/img/content/portfolio1.jpg")

					li.mix.mystery.art
						img(src="static/img/content/portfolio2.jpg")

					li.mix.illusion
						img(src="static/img/content/portfolio3.jpg")

					li.mix.paintings.art
						img(src="static/img/content/portfolio4.jpg")
					li.mix.art
						img(src="static/img/content/portfolio1.jpg")

					li.mix.mystery.art
						img(src="static/img/content/portfolio2.jpg")

					li.mix.illusion
						img(src="static/img/content/portfolio3.jpg")

					li.mix.travel.art
						img(src="static/img/content/portfolio4.jpg")
	section.section-wrap_black
		.quotes.pt80.pb70
			span.quotes-icon
			p Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
			span.quotes-author Denis Waitley
	section.section-wrap.pt115.pb140
		h3.section-title.mb60 Team Members
		p.section-article.pb100 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		.staff-wrap
			ul.staff-member
				li
					span.staff-photo.staff-photo1
					span.staff-name James Philly
					span.staff-position Lead Developer
				li
					span.staff-photo.staff-photo2
					span.staff-name Cactus Jack
					span.staff-position 3D Model Designer
				li
					span.staff-photo.staff-photo3
					span.staff-name Jack Sparrow
					span.staff-position Master of All Trade
				li
					span.staff-photo.staff-photo4
					span.staff-name Yaga Squarehead
					span.staff-position Manages Money
	section.projects-wrap
		span.projects-title Facts & Numbers
		.projects-details
			ul.projects-details-list
				li
					span.projects-number 110
					span.projects-divider
					span.projects-description successful projects
				li
					span.projects-number 25
					span.projects-divider
					span.projects-description awesome clients
				li
					span.projects-number 30
					span.projects-divider
					span.projects-description open source plugins
				li
					span.projects-number 13
					span.projects-divider
					span.projects-description open source themes
	section.section-wrap.pt115.pb100
		.blog.mb45
			img(src="static/img/content/blog1.jpg").right
			.blog-post
				span.blog_date Travel / 21st March, 2014
				span.blog_title A New Product Is Coming 
				p.blog_description The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
		.blog.mb45
			img(src="static/img/content/blog2.jpg")
			.blog-post.right
				span.blog_date Gadget / 3rd March, 2014
				span.blog_title Jimmy’s New Xbox Controller
				p.blog_description The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
		.blog
			img(src="static/img/content/blog3.jpg").right
			.blog-post
				span.blog_date Travel / 21st March, 2014
				span.blog_title A New Product Is Coming 
				p.blog_description The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
	section.section-wrap_grey.pt70.pb70
		section.section-wrap
			.latest-blog_prev
			.latest-blog_next
			ul.latest-blog_slider
				li.latest-blog_item
					span.latest-blog_title Another Day In Paradise
					span.latest-blog_date Travel / 21st March, 2014
				li.latest-blog_item
					span.latest-blog_title Jimmy’s New Book on Aliens
					span.latest-blog_date Personal / 21st March, 2014
				li.latest-blog_item
					span.latest-blog_title Sarah’s New House
					span.latest-blog_date Personal / 21st March, 2014
				li.latest-blog_item
					span.latest-blog_title Another Day In Paradise
					span.latest-blog_date Travel / 21st March, 2014
				li.latest-blog_item
					span.latest-blog_title Jimmy’s New Book on Aliens
					span.latest-blog_date Personal / 21st March, 2014
				li.latest-blog_item
					span.latest-blog_title Sarah’s New House
					span.latest-blog_date Personal / 21st March, 2014
	section.section-wrap
		.quotes-tw.pt80.pb100
			span.quotes-tw_icon
			img(src="static/img/content/author2.png")
			p Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
			span.quotes-tw_author @loveless