extends ../layout/main

block title
	| Главная страница

block content
	section.about-wrap.center
		span.broccoli.center
		h3.about-title Who & Why
		p.about-content.center The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the evening. But Gregor found it easy to give up having the door open, he had, after all, often failed to make use of it when it was open and, without the family having noticed it, lain in his room in its darkest corner. One time, though, the charwoman left the door.
	section.about-wrap_grey
		section.about-wrap.center.about-wrap_grey
				.feature
					span.feature-clock
					span.feature-header An Wow Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
				.feature
					span.feature-vector
					span.feature-header A Beautiful Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
				.feature
					span.feature-tructor
					span.feature-header An Amazing Feature
					p.feature-content The gentlemen who rented the room would sometimes take their evening meal at home in the living.
		

