@media screen and (max-width 1220px)
	.section-wrap
		.feature-list
			.feature
				margin 80px 25px 0
				
@media screen and (max-width 1020px)
	.section-wrap
		.feature-list
			.feature
				width 100%
				max-width 200px
				margin 80px 25px 0
				
@media screen and (max-width 800px)
	.wrapper
		.section-wrap
			width 90%
			.feature-list
				padding-bottom 60px
				.feature
					width 100%
					max-width 150px
					margin 40px 25px 0
					.feature-header
						font-size 1rem
						margin-bottom 20px
					.feature-content
						font-size .875rem
		
@media screen and (max-width 750px)
	.header-wrapper
		height 850px
	.header-main
		width 90%
	.header-content
		text-align center
		font-size 1rem
		margin-top 250px
		.header-title
			font-size 3.5rem
		.header-title_underline
			left 50%
			margin-left -69px
		a
			left 50%
			margin-left -135px
			
@media screen and (max-width 600px)
	.header-wrapper
		height 600px
	.header-content
		margin-top 100px
		font-size .875rem
		.header-title
			font-size 2.5rem
	.main-nav
		li
			font-size .875rem
	.projects-wrap
		.projects-details
			.projects-details-list
				li
					width 40%
					padding 0 0 35px
	
	/*Content*/
	
	.mb50
		margin-bottom 20px
	.mb60
		margin-bottom 25px
	.mb80
		margin-bottom 40px
	.mb110
		margin-bottom 40px
	.mb120
		margin-bottom 40px
	.mt110
		margin-top 40px
	.pt80
		padding-top 30px
	.pt115
		padding-top 50px
	.pb70
		padding-bottom 30px
	.pb100
		padding-bottom 35px
	.pb120
		padding-bottom 40px
	.pb140
		padding-bottom 60px
	.section-wrap
		.broccoli
			margin-top 25px
			margin-bottom 20px
		.section-title
			font-size 1rem
			margin-bottom 20px
		.about-content,
		.section-article
			font-size .875rem
			line-height 1.5
		.staff-wrap
			.staff-member
				li
					margin-top 35px
					.staff-photo
						margin-bottom 25px
					.staff-name
						font-size .94rem
					.staff-position
						font-size .875rem
	.portfolio
		.portfolio-menu
			.portfolio-menu_item
				font-size .875rem
	.section-wrap_black
		.quotes
			.quotes-icon
				margin-bottom 20px
			p
				margin-bottom 20px
				line-height 1.5
				font-size 1rem
			.quotes-author
				font-size 1rem
			
@media screen and (max-width 490px)
	.header-wrapper
		height 430px
	.header-content
		margin-top 70px
		font-size .875rem
		p
			line-height 1
			margin-bottom 50px
			top 25px
		.header-title
			font-size 2rem
			margin-bottom 20px
		a
			width 150px
			height 40px
			padding-top 10px
			margin-left -75px
	.main-nav
		position absolute
		top 20px
		right 0
	.projects-wrap
		.projects-details
			.projects-details-list
				padding-top 30px