//Colors
blackColor = #212121
greyColorBg = #efefef
featuredBg = #222222
featuredColor = #eeeeee
footerTextColor = #999
footerUnderline = #474747

//Fonts
mainFont = SourceSansProRegular
boldFont = SourceSansProBold
lightFont = SourceSansProLight