// Подключаем стили библиотек
@import '_libs.styl'

// Подключаем переменные
@import '_vars.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
@import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'

html 
  line-height 1
  font-size 16px

body
  font-family mainFont
  color blackColor

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

section
  position relative

input,
select,
button
  outline none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
  
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;

.wrapper
  width 100%
  margin 0 auto
  
.center
  margin 0 auto
  display block



// Общие стили
@import '_common_styles.styl'

// Стили шапки
@import 'modules/_header.styl'

// Стили меню
@import 'modules/_menu.styl'

// Стили главной страницы
@import 'page/_index.styl'

// Стили футера
@import 'modules/_footer.styl'

// Стили медиазапросов
@import '_media.styl'

.about-wrap
  width 100%
  max-width 1170px

.broccoli
  sprite($s-broccoli)
  margin-top 100px
  margin-bottom 25px

.about-title
  font-style SourceSansProBold, sans-serif
  font-size 1.69rem
  text-align center
  margin-bottom 80px
  
.about-content
  width 100%
  max-width 970px
  text-align center
  margin-bottom 120px
  line-height 2
  
.about-wrap_grey
  background-color greyColorBg
  //overflow hidden
  
.feature
  margin 80px 57px 120px 60px
  display inline-block

.feature-clock
  display block
  sprite($s-clock)
  margin-bottom 35px
  
.feature-vector
  display block
  sprite($s-vector)
  margin-bottom 35px
  
.feature-tructor
  display block
  sprite($s-trucktor)
  margin-bottom 35px
  
.feature-header
  display block
  font-size 1.13rem
  font-style SourceSansProBold, sans-serif
  font-weight bold
  margin-bottom 40px
  
.feature-content
  width 100%
  max-width 270px
  line-height 1.5