// Подключаем стили библиотек
@import '_libs.styl'

// Подключаем переменные
@import '_vars.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
@import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'

html 
  line-height 1
  font-size 16px

body
  font-family mainFont
  color blackColor

h1,h2,h3,h4,h5,h6
  margin 0

ul,li
  margin 0
  padding 0
  list-style-type none
  
p
  margin 0
  
a
  text-decoration none
  color black

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle
  
textarea
  resize none

section
  position relative

input,
select,
button
  outline none

*, *:before, *:after
  box-sizing border-box
  
.hide
  display none
  
.show
  display block
  
::-moz-selection 
  background: #b3d4fc;
  text-shadow: none;
  
::selection 
  background: #b3d4fc;
  text-shadow: none;
  
.clearfix:before,
.clearfix:after 
  content: " ";
  display: table;

.clearfix:after 
  clear: both;

.clearfix 
  *zoom: 1;

.wrapper
  width 100%
  margin 0 auto
  
.center
  margin 0 auto
  display block

//Margins snd paddings    
.mb45
  margin-bottom 45px

.mb50
  margin-bottom 50px
  
.mb60
  margin-bottom 60px
  
.mb70
  margin-bottom 70px

.mb80
  margin-bottom 80px
  
.mb110
  margin-bottom 110px
  
.mb120
  margin-bottom 120px
  
.mt110
  margin-top 110px

.pt70
  padding-top 70px
  
.pt80
  padding-top 80px

.pt115
  padding-top 115px
  
.pb30
  padding-bottom 30px
  
.pb70
  padding-bottom 70px
  
.pb100
  padding-bottom 100px

.pb115
  padding-bottom 115px
  
.pb120
  padding-bottom 120px

.pb140
  padding-bottom 140px




// Общие стили
@import '_common_styles.styl'

// Стили шапки
@import 'modules/_header.styl'

// Стили меню
@import 'modules/_menu.styl'

// Стили главной страницы
@import 'page/_index.styl'

// Стили футера
@import 'modules/_footer.styl'

// Стили медиазапросов
@import '_media.styl'

.section-wrap
  width 100%
  max-width 1170px
  margin 0 auto

.broccoli
  sprite($s-broccoli)
  margin-top 100px
  margin-bottom 25px

.section-title
  font-style SourceSansProBold, sans-serif
  font-size 1.69rem
  text-align center
  
.section-article
  display block
  width 100%
  max-width 770px
  text-align center
  margin-bottom 110px
  line-height 2
  margin 0 auto
  
.about-content
  width 100%
  max-width 970px
  text-align center
  line-height 2
  
.section-wrap_grey
  background-color greyColorBg
  
.section-divider
      position absolute
      top 310px
      left 50%
      margin-left -37.5px
      display block
      width 75px
      height 7px
      sprite($s-block-divider_orange)
  
.feature
  margin 80px 57px 120px 60px
  display inline-block

.feature-clock
  display block
  sprite($s-clock)
  margin-bottom 35px
  
.feature-vector
  display block
  sprite($s-vector)
  margin-bottom 35px
  
.feature-tructor
  display block
  sprite($s-trucktor)
  margin-bottom 35px
  
.feature-header
  display block
  font-size 1.13rem
  font-style SourceSansProBold, sans-serif
  font-weight bold
  margin-bottom 40px
  
.feature-content
  width 100%
  max-width 270px
  line-height 1.5
  
.section-wrap,
.portfolio-slider
  .bx-wrapper
    .bx-viewport
      border none
      box-shadow none
      left 0
      background none

.featured
  position relative
  height 370px
  padding 70px 0 0 40px
  background-color featuredBg
  color featuredColor
  cursor pointer
  &:hover  
    .featured_active
      position absolute
      top 0
      left 50%
      margin-left -37.5px
      display block
      width 75px
      height 7px
      sprite($s-block-divider_orange)

.featured-title
  display block
  margin-bottom 30px
  font-size .875rem
  text-transform uppercase

.featured-content
  width 100%
  max-width 270px
  font-size 1.5rem
  font-family mainFont
  line-height 1.4

.featured-author
  position absolute
  width 100%
  font-size .875rem
  text-transform uppercase
  line-height 1.5
  bottom 50px
  img
    
    float left
    margin-right 15px
  .featured-author_name
    display block
    padding-top 10px
    
.featured-slider,
.clients-slider,
.latest-blog_slider
  position relative
  
.featured-slider_prev,
.featured-slider_next,
.clients-slider_prev,
.clients-slider_next,
.latest-blog_prev,
.latest-blog_next
  position absolute
  top 50%
  a
    display block
    width 16px
    height 16px
    &.disabled
      display none
  
.featured-slider_prev,
.clients-slider_prev,
.latest-blog_prev
  left -4%
  .bx-prev
    background url('../img/svg/left-arrow.svg') 0 0 no-repeat
    background-size 100%

    
.featured-slider_next,
.clients-slider_next,
.latest-blog_next
  right -4%
  .bx-next
    background url('../img/svg/right-arrow.svg') 0 0 no-repeat
    background-size 100%
    
.clients-slider
  width 100%
  max-width 900px
  margin 0 auto
  
.portfolio-menu
  ul
    text-align center
    
  
.portfolio-menu_item
  display inline-block
  margin-right 30px
  &:last-child
    margin-right 0
  
.portfolio-menu_item
  a
    &:hover
      text-decoration underline
    &:click
      color red
      .porfolio-bxslider
        left 0
        
.section-wrap_black
  background blackColor

.quotes
  margin 0 auto
  width 100%
  max-width 830px
  text-align center
  font-size 1.25rem
  color featuredColor

.quotes-icon
    display block
    margin 0 auto 30px
    width 16px
    height 16px
    background-image url('../img/content/quotes.png')

.quotes
  p
    margin-bottom 50px
    line-height 2

.quotes-author
  font-style italic
  font-family lightFont

.staff-wrap
  width 100%
  max-width 1030px
  margin 0 auto

.staff-member
  text-align center
  li
    display inline-block
    width 140px
    height 205px
    text-align center
    margin-right 14%
    &:last-child
      margin-right 0
  
.staff-photo
  display block
  width 100px
  height 110px
  margin 0 auto 70px

.staff-photo1
  sprite($s-james)
  
.staff-photo2
  sprite($s-cactus)

.staff-photo3
  sprite($s-jack)

.staff-photo4
  sprite($s-yaga)

.staff-name
  display block
  text-transform uppercase
  font-family boldFont
  margin-bottom 20px
  
.staff-position
  font-size .94
  
.projects-wrap
  width 100%
  height 690px
  padding-top 110px
  background url('../img/general/projects.jpg') 0 0 no-repeat
  background-size cover
  color featuredColor
  text-align center
  
.projects-title
  display block
  font-size 1.69rem
  margin-bottom 70px

.projects-details
  width 100%
  max-width 830px
  background rgba(255, 255, 255, .4)
  margin 0 auto

.projects-details-list
  padding-top 63px
  text-align center
  height 355px
  overflow hidden
  li
    display inline-block
    padding 0 10% 63px 10%
    //width 50%
    max-width 400px
    margin 0 auto

.projects-number,
.projects-divider,
.projects-description
  display block

.projects-number
  margin-bottom 20px
  font-size 1.69rem
  font-family boldFont
  
.projects-divider
  margin-bottom 25px
  background url('../img/content/projects-divider.png') 0 0 no-repeat
  width 75px
  height 4px
  margin 0 auto 20px
  
.projects-description
  font-size 1.5rem
  
.blog
  overflow hidden
  width 97%
  img
    width 48%
  .right
    float right
    
.blog_date,
.blog_title,
.blog_description
  display block
  text-align center

.blog-post
  width 48%
  padding 85px 5% 0 5%
  .blog_date
    font-size .875rem
    margin-bottom 22px
  .blog_title
    font-size 1.5rem
    font-family boldFont
    margin-bottom 60px
.blog_description
  line-height 2

.latest-blog_slider
  text-align center

.latest-blog_title,
.latest-blog_date
  display block
  margin-left 20px

.latest-blog_item
  display inline-block
  border-left solid 7px blackColor
  .latest-blog_title
    margin-top 18px
    font-size 1.13rem
    font-family boldFont
  .latest-blog_date
    font-size .875rem
    margin-top 20px
    margin-bottom 18px

  
    
    
    

  
  
      